<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title> The Kirana Store </title>
    
    <link rel="stylesheet" href="css/style.css">    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="icon" href="images/logo.jpg" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <h1 class="heading">Kirana, simplified.</h1>
  <div class="container">
    <input type="checkbox" id="flip">
    <div class="cover">
      <div class="front">
        <img src="images/frontImage.jpeg" alt="">
        <div class="text">
          <span class="text-1">Turning Kirana runs into <br> financial wins</span>
          <span class="text-2">Let's get Started</span>
        </div>
      </div>
      <div class="back">
        <img class="backImg" src="images/backImage.avif" alt="">
        <div class="text">
          <span class="text-1">Unpack happiness. <br> Unpack groceries</span>
          <span class="text-2">Let's get you started</span>
        </div>
      </div>
    </div>
    <div class="forms">
        <div class="form-content">
          <div class="login-form">
            <div class="title">Login</div>
          <form id="login">
            <div class="input-boxes">
              <div class="input-box">
                <i class="fas fa-envelope"></i>
                <input id="login-email" type="email" placeholder="Enter your email" required>
              </div>
              <div class="input-box">
                <i class="fas fa-lock"></i>
                <input id="login-password" type="password" placeholder="Enter your password" required>
              </div>
              <!-- <div class="text"><a id="forget-password">Forgot password?</a></div> -->
              <div class="text"><a id="forget-password" href="#">Forgot Password?</a></div>
              
              <div class="button input-box">
                <input type="submit" value="Sumbit">
              </div>
              <div class="text sign-up-text">Don't have an account? <label for="flip">Sigup now</label></div>
            </div>
        </form>
      </div>
        <div class="signup-form">
          <div class="title">Signup</div>
        <form id="signup">
            <div class="input-boxes">
              <div class="input-box">
                <i class="fas fa-user"></i>
                <input id="signUp-username" type="text" placeholder="Enter your name" required>
              </div>
              <div class="input-box">
                <i class="fas fa-envelope"></i>
                <input id="signUp-email" type="email" placeholder="Enter your email" required>
              </div>
              <div class="input-box">
                <i class="fas fa-lock"></i>
                <input id="signUp-password" type="password" placeholder="Enter your password" required>
              </div>
              <div class="button input-box">
                <input type="submit" value="Sumbit">
              </div>
              <div class="text sign-up-text">Already have an account? <label for="flip">Login now</label></div>
            </div>
      </form>
    </div>
    </div>
    </div>
  </div>
  <script type="module" src="js/signUp.js"></script>
  <script type="module" src="js/login.js"></script>
</body>
</html>